@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilização da barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 42); /* cor do fundo da barra de rolagem */
  }
  
.App {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  color: #8a8a8a;
  .Navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    position: absolute;
    top: 0;
    /* outros estilos */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
   
  }
  .NavbarVisible {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    position: fixed;
    top: 0;
    /* outros estilos */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .Principal {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.748)), url("./assets/setup.jpeg");
    // height: 50rem;
    background-size: cover;
    background-attachment: fixed;
    // filter: grayscale(100%);

}
 .Hello {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(16, 16, 16);

}
}
